extends layout


block main
  .container.mx-auto.px-4.py-8
    h2(class="text-3xl font-bold text-gray-800 mb-4") Welcome to NewsSense
    p(class="text-gray-600 mb-8") Today’s News in a Nutshell.

    if articles && articles.length > 0
      article(class="flex flex-col gap-8") 
        each a in articles
          div(class="bg-white rounded-xl shadow-lg overflow-hidden flex flex-col hover:bg-gray-50")
            // Check if article.urlToImage exists before rendering the image section
            
            a(href=a.url, target="_blank", rel="noopener noreferrer")
              div(class="w-full h-48 overflow-hidden")
                img(class="w-full h-full object-cover", src=a.urlToImage || 'https://placehold.co/600x400/E2E8F0/1A202C?text=No+Image', alt=a.title)
            div(class="p-6 flex flex-col flex-grow")
              h3(class="text-xl font-bold text-gray-900 mb-2")
                a(href=a.url, target="_blank", rel="noopener noreferrer", class="hover:underline")= a.title
              p(class="text-base text-gray-600 leading-relaxed")= a.description
    else
      p(class="text-center text-gray-500") No articles found.

block right
  p Right sidebar content

